<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size='12' 
        *ngFor='let user of userList'>
          <ion-card class="ion-padding" >
            <ion-text *ngIf='user.fName' color='success'>
              <h5><ion-icon name="person"></ion-icon>{{ (user.fName | capitalize) + ' ' + user.lName }}</h5>
            </ion-text>
            <ion-text>
              <small><b>{{user.email}}</b></small>
              <p>{{user.address}}</p> 
              <span> Created On {{user.createdDate | date}}</span>
            </ion-text>
            <ion-text>
            </ion-text>
            
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf='commonAttribute.userListCount > commonAttribute.limit'>
    <pagination [totalItems]="commonAttribute.userListCount" 
      (pageChanged)="pageChanged($event)"
      [maxSize]='commonAttribute.maxSize' 
      [itemsPerPage]='commonAttribute.limit'>
    </pagination>
  </div>
</ion-content>