<ion-grid>
  <ion-row class="ion-padding">
    <ion-col size='12'>
      
      <ion-grid>
        <ion-card >
        
          <ion-row>
          <ion-col>
                    <h4>Submission Form</h4> 
              <form [formGroup]='courseForm' (ngSubmit)='onSubmit()'>

                <ion-grid>
                  
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Full Name</ion-label>
                        <ion-input  type='text' name='fullName' placeholder='Enter Full Name'
                          clearInput='true' formControlName='fullName'>
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='fullName.invalid && (fullName.dirty || fullName.touched || isSubmitted )' color='danger'>
                        <small>{{getErrorMessage({formControl: fullName, formControlName:'Full Name'})}}</small>
                      </ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Father's Name</ion-label>
                        <ion-input  type='text' name='fatherName' 
                          clearInput='true' formControlName='fatherName'
                          placeholder="Enter Father's Name">
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='fatherName.invalid && (fatherName.dirty || fatherName.touched || isSubmitted )' color='danger'>
                        <small>{{getErrorMessage({formControl: fatherName, formControlName:"Father's Name"})}}</small>
                      </ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Mother's Name</ion-label>
                        <ion-input  type='text' name='motherName' 
                          clearInput='true' formControlName='motherName'
                          placeholder="Enter Mother's Name">
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='motherName.invalid && (motherName.dirty || motherName.touched || isSubmitted )' color='danger'>
                        <small>{{getErrorMessage({formControl: motherName, formControlName:"Mother's Name"})}}</small>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Age</ion-label>
                        <ion-input  type='text' name='lName' placeholder='Enter age'
                          clearInput='true' formControlName='age'>
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='age.invalid && (age.dirty || age.touched || isSubmitted )'
                        color='danger'>
                        {{getErrorMessage({formControl: age, formControlName:'Age', maxLength: 2})}}
                      </ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Mobile Number</ion-label>
                        <ion-input  type='text' name='mNumber' clearInput='true' 
                          formControlName='mobileNumber' placeholder='Enter Mobile Number'>
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='mNumber.invalid && (mNumber.dirty || mNumber.touched || isSubmitted )'
                        color='danger'>
                        <small>{{getErrorMessage({formControl: mNumber, formControlName:'Mobile Number', maxLength: 10, minLength:10})}}</small>
                      </ion-text>
                    </ion-col>

                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Address</ion-label>
                        <ion-input  type='text' name='address' clearInput='true' 
                           formControlName='address' placeholder="Enter address">
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='address.invalid && (address.dirty || address.touched || isSubmitted )'
                        color='danger'>
                        <small>{{getErrorMessage({formControl: address, formControlName:'Address'})}}</small>
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row >
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Class 12th Marks(%)</ion-label>
                        <ion-input  placeholder="Enter marks" clearInput='true' 
                          formControlName='seniorClassMarks' >
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='seniorClassMarks.invalid && (seniorClassMarks.dirty || seniorClassMarks.touched || isSubmitted)' color='danger'>
                        <small>{{getErrorMessage({formControl: seniorClassMarks, formControlName:'Enter marks', maxLength: 2})}}</small>
                      </ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position='floating'>Class 10th Marks(%)</ion-label>
                        <ion-input  placeholder="Enter marks" clearInput='true' 
                          formControlName='secondaryClassMarks' >
                        </ion-input>
                      </ion-item>
                      <ion-text class="ion-padding" *ngIf='secondaryClassMarks.invalid && (secondaryClassMarks.dirty || secondaryClassMarks.touched || isSubmitted)' color='danger'>
                        <small>{{getErrorMessage({formControl: secondaryClassMarks, formControlName:'Enter marks',  maxLength: 2})}}</small>
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row >
                    <ion-col>
                      <ion-item>
                        <ion-label>Which Subject do you have?</ion-label>
                        <ion-select  placeholder="Select subject" interface="popover" 
                          formControlName='subject' mode='ios'>
                          <ion-select-option *ngFor='let subject of subjectList' [value]="subject">
                             {{subject}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-text *ngIf='subject.invalid && (subject.dirty || subject.touched || isSubmitted)' color='danger'>
                        <small>{{getErrorMessage({formControl: subject, formControlName:'Subject'})}}</small>
                      </ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-row >
                    <ion-col>
                      <ion-item>
                        <ion-label>Which Course do you want to apply?</ion-label>
                        <ion-select  placeholder="Select course" interface="popover" 
                          formControlName='course' mode='ios'>
                          <ion-select-option *ngFor='let course of courseList' [value]="course">
                             {{course}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-text *ngIf='course.invalid && (course.dirty || course.touched || isSubmitted)' color='danger'>
                        <small>{{getErrorMessage({formControl: course, formControlName:'Course'})}}</small>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-margin-top" *ngIf="!isDisable">
                    <ion-col>
                      <ion-button type='submit' fill='outline' 
                        expand='block'>
                        {{isEditable ? 'Update': 'Apply'}}
                      </ion-button>
                    </ion-col>

                    <ion-col >
                    </ion-col>
                  </ion-row>
                  
                </ion-grid>
                
              </form>
              <ion-button fill='outline' *ngIf="isEditable || isDisable"
                 expand='block' (click)="closeForm()">
                Close
              </ion-button>
          </ion-col>
        </ion-row>

        </ion-card>
      </ion-grid>

    </ion-col>
  </ion-row>
</ion-grid>