<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size='12' 
        *ngFor='let user of userList; let index = index'>
        <ion-grid>
          <ion-card class='ion-padding'>
          <ion-row>
            <ion-col size-sm='auto' size-md='6' size-lg='9'>
                <ion-text *ngIf='user.fName' color='success'>
                  <h5><ion-icon name="person"></ion-icon>{{ (user.fName | capitalize) + ' ' + user.lName }}</h5>
                </ion-text>
                <ion-text>
                  <small><b>{{user.email}}</b></small>
                  <p>{{user.address}}</p> 
                  <span> Created On {{user.createdDate | date}}</span>
                </ion-text>
                <ion-chip
                  *ngIf='user.status === commonStatus.ACTIVE'
                  color='success'>
                  <ion-text><b>Accepted</b></ion-text>
                </ion-chip>
                <ion-chip
                  *ngIf='user.status === commonStatus.PENDING'
                  color='warning'>
                  <ion-label><b>PENDING</b></ion-label>
                </ion-chip>
                <ion-chip
                  *ngIf='user.status === commonStatus.DECLINE'
                   color='danger'>
                  <ion-label><b>Rejected</b></ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size-sm='auto' size-md='6' size-lg='3'>
              <ion-select placeholder="Action" 
                interface="popover"
                (ionChange)='actionSelected($event, user._id, index)'
                mode='ios'>
                <ion-select-option 
                  *ngFor='let action of actionList'
                  [value]='action.status' >
                  {{action.action}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          </ion-card>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf='commonAttribute?.userListCount > commonAttribute.limit'>
    <pagination [totalItems]="commonAttribute?.userListCount" 
      (pageChanged)="pageChanged($event)"
      [maxSize]='commonAttribute.maxSize' 
      [itemsPerPage]='commonAttribute.limit'>
    </pagination>
  </div>
</ion-content>